{% extends 'nav_A.html' %}

{% block title %}Lista de alumnos{% endblock %}
{% block content %}
<style>
    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh; /* Establece la altura del contenedor al 100% del viewport */
    }
</style>

<div class="centered-content">
    <h1>Bienvenido, {{ alumno_vigente.nombre }} {{ alumno_vigente.apellidoPat }} {{alumno_vigente.apellidoMat}}</h1>
    <h2>Excelente día</h2>
</div>
{% endblock %}
